{{ define "main" }}
<article class="container">
  <div class="content-wrapper">
    {{ with .Title -}}<h1 class="page-title">{{- . -}}</h1>{{- end }}
    {{ with .Content -}}<div class="post-content">{{- . -}}</div>{{- end }}

    <ul class="posts-list">
      {{ range where .Paginator.Pages "Type" "!=" "page" }}
      <li class="posts-list-item">
        <a class="posts-list-item-title" href="{{ .RelPermalink }}">
          <h2>{{ .Title }}</h2>
        </a>
        <div class="posts-list-item-description">
          {{- with .Params.tags }}
          <div class="tags-container">
            {{ partial "icon.html" (dict "ctx" $ "name" "tag") }}
            {{- range . -}}
            {{ with $.Site.GetPage (printf "/%s/%s" "tags" . ) }}
            <a class="tag" href="{{ .RelPermalink }}">{{ .Title }}</a>
            {{- end }}
            {{- end }}
          </div>
          {{- end }}

          {{ if .Description }}
          <div class="post-description">{{ replace (replace .Description "\n" "\t") "<br>" "\t" | safeHTML }}</div>
          {{ else if .Summary }}
          <div class="post-description">{{ replace (replace .Summary "\n" "\t") "<br>" "\t" | safeHTML }}</div>
          {{ end }}
        </div>
      </li>
      {{ end }}
    </ul>

    <div class="pagination-wrapper">
      {{ partial "pagination.html" $ }}
    </div>
  </div>
</article>
{{ end }}
