.post-title {
  color: $lightest-color;
}

.post-meta > div {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.2em;
  font-size: 0.8em;

  > .icon {
    margin-right: 0.4em;
  }
}

.post-content {
  /* Center the largest header (h1) */
  h1 {
    text-align: center;
  }

  & > pre,
  .highlight {
    margin: 1em 0;
  }

  & > pre,
  .highlight > pre,
  .highlight > div {
    border-left: 0.4em solid rgba($primary-color, .8);
    padding: 1em 1em;
  }

  blockquote {
    border-left: 0.4em solid rgba($primary-color, .8);
    margin: 1em 0em;
    padding: .5em 1em;
    background: $darkest-color;

    p {
      margin: .5em 0;
    }
  }

  img {
    max-width: 100%;
  }

  /* Table styling */
  table {
    width: 100%;
    margin: 1em 0;
    border-collapse: collapse;

    th, td {
      padding: 0.5em;
      text-align: left;
    }

    th {
      font-weight: bold;
    }

    /* Space-between column distribution */
    &.space-between {
      width: 100%;

      tr {
        display: flex;
        justify-content: space-between;
      }

      th, td {
        flex: 1;
      }
    }

    /* Responsive handling */
    @media (max-width: 768px) {
      &.space-between tr {
        display: table-row;

        th, td {
          display: table-cell;
        }
      }
    }
  }
}
